
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Jokerman";
    color: rgb(10, 243, 10);
}

body{
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    color:white;
}

header{
    background:#3b2517;
    padding:20px;
    text-align:left;
    font-family: "algerian";
}

nav{
    margin-top:10px;
}

nav a{

    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:20px;
}


.btn{
    background:goldenrod;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.content{
    padding:50px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:#7b5e57;
    padding:20px;
    width:250px;

    border-radius:10px;
}

.form-container{
    width:400px;
    margin:50px auto;
    background:#7b5e57;
    padding:30px;
    border-radius:10px;
}

.form-container h2{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:10px;
}

input, select{
    width:100%;
    padding:10px;

    margin-top:5px;
    border:none;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:goldenrod;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#d4a017;
}

footer{
    text-align:center;
    padding:20px;
    background:#3b2517;

    margin-top:50px;
}
